@import ../../sass/vars



.check
	cursor: pointer
	&__input
		display: none

.checkbox
	display: flex
	&__box
		display: flex
		align-items: center
		justify-content: center
		width: 20px
		height: 20px
		border: 1px solid #EB7001
		svg
			transition: .3s
			opacity: 0
			transform: scale(0)
	&__wrap
		width: calc(100% - 20px)
		padding-left: 17px
		font-size: 14px
		line-height: 20px
	&.--b-gray
		.checkbox
			&__box
				padding: 1px
				border-color: #838383
	&.--xs
		.checkbox
			&__box
				width: 15px
				height: 15px
			&__wrap
				width: calc(100% - 15px)
				padding-left: 10px
				font-size: 18px
				font-weight: 400
	&.--checked
		.checkbox
			&__box
				svg
					opacity: 1
					transform: scale(1)
		