extends ../../templates/default
block vars
	-
		title = "Фото-видео пресс-центр"
		breadcrumbs = [
			['', '.html'],
			[title]
		]
block content
	include ../../../blocks/intro/intro
	include ../../../blocks/sports/sports
	.page
		.case
			+breadcrumbs
			.page__wrap.row
				.page__aside
					include ../../../blocks/navus/navus
				.page__section
					.page__head
						.page__icon
							img(src="uploads/" alt="")
						.page__title.h3= title
					.page__body
						.page__press.press
							img.press__logo(src="uploads/" alt="")
							p При проведении соревнований компания Атмосфера Спорта возлагает на себя одну из важных частей – это освещение мероприятия как в средствах массовой информации, так и на месте соревнований. Мы предлагаем организаторам:
							h4 На подготовительном этапе мероприятия:
							ul
								li Анонсирование мероприятия на своём ресурсе в сети Интернет (имеем свою обширную базу пользователей).
								li Съёмка и монтаж по различные форматы рекламных роликов.
								li Дизайнерская разработка символики мероприятия, дипломов и т.д.
							h4 На этапе проведения мероприятия:
							ul
								li Регистрацию участников мероприятия.
								li Ведение мероприятия, церемонии открытия, закрытия и награждения участников.
								li Съемку на профессиональное оборудование открытия, закрытия, награждения. По ходу соревнований предоставляем дайджесты турнира, интервью с участниками, создаем высококачественные ролики, которые в дальнейшем могут использоваться вплоть до телевидения.
								li По индивидуальному заказу сделаем рекламный сюжет об участии в турнире.
								li На протяжении всего мероприятия наши фотографы запечатлеют все эмоциональные моменты соревнований. Мы создадим соответствующую атмосферу спорта на турнире.
								li Каждый участник уйдет с частичкой памяти о проведенном событии. Наша сувенирная продукция сохранит Вашу историю.
							h4 По окончании мероприятия:
							p Все отснятые материалы будут доступны для ознакомления на нашем портале и храниться там продолжительное время.
							p.press__desc Будь с нами! Будь в спорте! <br>ООО «Атмосфера спорта»
							img(src="uploads/" alt="")