@import ../../sass/vars


.select
	position: relative
	cursor: pointer
	&__wrap
		position: relative
	&__area
		display: flex
		align-items: center
		width: 100%
		border: 1px solid transparent
	&__title
		line-height: 16px
		white-space: nowrap
		text-overflow: ellipsis
		overflow: hidden
	&__icon
		margin-left: auto
		svg
			transition: $t
	&__drop
		position: absolute
		top: 100%
		left: 0
		right: 0
		transition: $t
		opacity: 0
		visibility: hidden
		border: 1px solid transparent
		border-top: none
		transform: translateY(10px)
		overflow-y: auto
	&__item
		transition: $t
		&.--hidden
			display: none
	&__parse
		display: none

	&.--sm
		font-weight: 400
		.select
			&__area
				height: 30px
				padding-left: 20px
				padding-right: 20px
				border-radius: 10px
			&__title
				font-size: 14px
				color: #3F3F3F
			&__drop
				max-height: 200px
				border-radius: 0 0 10px 10px
			&__item
				font-size: 14px
				padding: 5px 20px

	&.--bg-gray
		.select
			&__area
				background: #F1F1F1
			&__drop
				background-color: #F1F1F1
			&__item
				&:hover
					background-color: darken(#F1F1F1, 2%)
				&.--selected
					background-color: darken(#F1F1F1, 5%)
					
	&.--open
		z-index: 5
		.select
			&__area
				border-radius: $radius $radius 0 0
			&__icon
				svg
					transform: rotate(180deg)
			&__drop
				opacity: 1
				visibility: visible
				transform: translateY(0px)
				