.select {
  position: relative;
  cursor: pointer;
}
.select__wrap {
  position: relative;
}
.select__area {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid transparent;
}
.select__title {
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.select__icon {
  margin-left: auto;
}
.select__icon svg {
  transition: 0.3s;
}
.select__drop {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  border: 1px solid transparent;
  border-top: none;
  transform: translateY(10px);
  overflow-y: auto;
}
.select__item {
  transition: 0.3s;
}
.select__item.--hidden {
  display: none;
}
.select__parse {
  display: none;
}
.select.--sm {
  font-weight: 400;
}
.select.--sm .select__area {
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}
.select.--sm .select__title {
  font-size: 14px;
  color: #3F3F3F;
}
.select.--sm .select__drop {
  max-height: 200px;
  border-radius: 0 0 10px 10px;
}
.select.--sm .select__item {
  font-size: 14px;
  padding: 5px 20px;
}
.select.--bg-gray .select__area {
  background: #F1F1F1;
}
.select.--bg-gray .select__drop {
  background-color: #F1F1F1;
}
.select.--bg-gray .select__item:hover {
  background-color: #ececec;
}
.select.--bg-gray .select__item.--selected {
  background-color: #e4e4e4;
}
.select.--open {
  z-index: 5;
}
.select.--open .select__area {
  border-radius: 5px 5px 0 0;
}
.select.--open .select__icon svg {
  transform: rotate(180deg);
}
.select.--open .select__drop {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}