extends ../../templates/default
block vars
	-
		title = "Фотосток"
		breadcrumbs = [
			['', '.html'],
			[title]
		]
block content
	include ../../../blocks/intro/intro
	// include ../../../blocks/sports/sports
	.page
		.case
			// +breadcrumbs
			.page__wrap.row
				.page__aside
					include ../../../blocks/navus/navus
				.page__section
					.page__head
						.page__icon
							img(src="uploads/camera-black.svg" alt="")
						.page__title.h3= title
					.page__body
						.fotostok
							.fotostok__list.row
								+fotostokItem('Гандбол', 'gandboll')
								+fotostokItem('Футбол', 'football')
								+fotostokItem('Флорбол', 'florball')
								+fotostokItem('Водные виды спорта', 'water-sports')
								+fotostokItem('Фигурное катание', 'skins')
								+fotostokItem('Пляжный волейбол', 'sand-volleyball')
								+fotostokItem('Танцы', 'dances')
								+fotostokItem('Фехтование', 'fencing')
								+fotostokItem('Большой тенис', 'tennis')
								+fotostokItem('Хокей', 'hockey')
								+fotostokItem('Футзал', 'footzal')
								+fotostokItem('Гимнастика', 'gymnastics')
								+fotostokItem('Баскетбол', 'basketball')
								+fotostokItem('Боевые единоборства', 'single-combats')
								+fotostokItem('Бадминтон', 'badminton')
								+fotostokItem('Спорт для семьи', 'sport-family')
								+fotostokItem('Детское творчество', 'kid-creation')