.tabs-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.tabs-item {
  opacity: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: opacity 2s, visibility 2s;
}
.tabs-item.--current {
  opacity: 1;
  height: auto;
  overflow: visible;
  visibility: visible;
}