extends ../../templates/default
block vars
	-
		title = "Комплекты"
		breadcrumbs = [
			['Предзаказ', 'preorder.html'],
			[title]
		]
block content
	include ../../../blocks/intro/intro
	include ../../../blocks/sports/sports
	.page
		.case
			+breadcrumbs
			.page__wrap.row
				.page__aside
					include ../../../blocks/navus/navus
				.page__section
					.page__head
						.page__icon
							img(src="uploads/cart-black.png" alt="")
						.page__title.h3= title
					.page__body
						.page__product.product
							.product__text
								p При покупке комплекта фото с награждением <br>в подарок.
								p При покупке 3-х комплектов - скидка 20%.
								p При покупке 4-х и более комплектов - скидка 30%
							.product__wrap.row
								.product__img
									img(src="uploads/cat-complect.png" alt="")
								.product__inner
									.product__settings
										+psetting
