extends ../../templates/default
block vars
	-
		title = "Результаты поиска"
		breadcrumbs = [
			['', '.html'],
			[title]
		]
block content
	include ../../../blocks/intro/intro
	include ../../../blocks/sports/sports
	.page
		.case
			+breadcrumbs
			.page__wrap.row
				.page__aside
					include ../../../blocks/navus/navus
				.page__section
					.page__head
						.page__icon
							img(src="uploads/magniffic-glass-black.svg" alt="")
						.page__title.h3= title
					.page__body
						.psearch
							.psearch__list
								.psearch__item
									.psearch__name Турнир по футболу "Baltic Cup 2021" среди команд 2013 г.р. (U8). Арена ЦФП "Восхождение" / Командные фото / №3962677
									.psearch__phs.row
										.psearch__ph.photos__item
											.photos__img.img(data-src="uploads/ph-1.jpg" data-fancybox="" data-group="photos" data-caption="Описание фото")
												img(src="uploads/ph-1.jpg" alt="")
											+ctrls('photos__controls')
