extends ../../templates/default
block vars
	-
		title = "Партнеры"
		breadcrumbs = [
			['', '.html'],
			[title]
		]
block content
	include ../../../blocks/intro/intro
	include ../../../blocks/sports/sports
	.page
		.case
			+breadcrumbs
			.page__wrap.row
				.page__aside
					include ../../../blocks/navus/navus
				.page__section
					.page__head
						.page__icon
							img(src="uploads/partners-black.svg" alt="")
						.page__title.h3= title
						a.page__btn.btn.--md.--bg-orange.--fz24(href="") Стать партнером
					.page__body
						.page__partners.partners
							.partners__list
								mixin partnersItem(text, link, logo)
									.partners__item
										.partners__logo
											img(src="uploads/" + logo alt="")
										.partners__content
											.partners__text!=text
											.partners__link #[a(href=link target="_blank")= link]
								+partnersItem('<b>«Благотворительный Фонд "Биневал"»</b> –  организатор международных конкурсов-фестивалей детского, юношеского и взрослого твочества, основан в 1998 году. Международный Конкурс-Фестиваль искусства и творчества «Преображение» - двукратный обладатель Диплома Федеральной Гранд-выставки «Лучшие проекты России» (2009, 2010 г.г.), обладатель почетного диплома-сертификата ЮНЕСКО, организуется и проводится при поддержке Театра «Русский балет» (Санкт-Петербург), Детской школы искусств Санкт-Петербургского государственного института культуры.', 'http://bineval.ru', 'benival.png')
								+partnersItem('<b>«Фонд поддержки и развития культуры и образования "Мир на ладони"»</b> –  организатор международных конкурсов-фестивалей детского, юношеского и взрослого твочества. Более 10 лет Фонд поддержки и развития культуры и образования «Мир на ладони» и многопрофильная фирма «Пилигрим» (г. Екатеринбург) являются организаторами более 30 Международных и Всероссийских конкурсов-фестивалей как в России, так и за рубежом, (при информационной поддержке Министерства культуры РФ, а также издательского дома «Век информации», г. Москва, газеты «Танцевальный Клондайк», журнала «Карнавалы, фестивали, праздники», центра поддержки творчества, образования и культуры «Арт-центр»).', 'http://www.mir-na-ladoni.org', 'mir-na-ladoni.png')
								+partnersItem('<b>«Творческое Объединение "Я МОГУ!"»</b> –  является учредителем одноименного культурно-образовательного проекта, который представляет собой цикл международных фестивалей-конкурсов детских и юношеских достижений. Основная цель проекта – выявление и поощрение талантливых детей и подростков в самых разных областях – музыка (вокальное и инструментальное творчество), хореография, театральное, цирковое, изобразительное и декоративно-прикладное искусство. Миссия проекта – помочь творчески одаренным детям, подросткам поверить в себя и, с гордостью сказав «Я могу!», добиться высот в любимом творческом деле.', 'https://www.festrussia.ru/', 'ya_mogy.png')
								+partnersItem('<b>«СШОР Сестрорецк им. В. Коренькова"»</b> –  осуществляет координацию деятельности по организации массовой физической культуры и спорта в районе, занимается вопросами Олимпийского образования школьников. Организация и проведение детских соревнований по футболу.', 'http://www.sportschool.sestroretsk.info', 'sportschool.png')
								+partnersItem('<b>«ОФСОО "Авангард"»</b> –  основан в 2005 году. Основной деятельностью ОФСОО «Авангард» является воспитание молодежи на общечеловеческих принципах, пропаганде здорового образа жизни. Организация и проведение детских соревнований по Художественной гимнастике.', 'http://офсоо-авангард.рф', 'avangard.png')
								+partnersItem('<b>«Студия художественной гимнастики Евгении Елисеевой.»</b> – центр художественной гимнастики в Гатчине. Организация и проведение детских соревнований по Художественной гимнастике.', 'https://vk.com/gatchinagimnastika', 'evgen-eliseev.png')
							.partners__btn-more.btn.--smm.--b-orange.--fz18 Показать еще