@import ../../sass/vars

.field
	&__title
		line-height: 18px
		margin-bottom: 17px
	&__wrap
		position: relative
	&__placeholder
		position: absolute
		top: 50%
		left: 0
		right: 0
		color: #B2B2B2
		transition: .3s
		transform: translateY(-50%)
	&__area
		display: block
		font-size: $fzMain
		font-family: $ffMain
		width: 100%
		&::placeholder
			color: #B2B2B2
	&.--bg-gray
		.field
			&__area
				background-color: #F1F1F1
	&.--b-gray
		.field
			&__area
				border: 1px solid #B2B2B2
	&.--sm
		.field
			&__placeholder, &__area
				font-weight: 400
				font-size: 14px
			&__area
				height: 30px
				border-radius: 10px
	&.--smm
		.field
			&__placeholder, &__area
				font-weight: 400
				font-size: 14px
				padding-left: 15px
				padding-right: 15px
			&__area
				height: 40px
				// border-radius: 10px
	&.--filled, &.--focus
		.field
			&__placeholder
				opacity: 0
		