include ../../pug/vars

.intro
	.case
		.intro__wrap
			.intro__arrows
				.intro__arrow.btn.arrow.swiper-button-prev.--prev
					<svg width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.880683 5.98957C0.58779 6.28246 0.587789 6.75733 0.880683 7.05023L5.65365 11.8232C5.94655 12.1161 6.42142 12.1161 6.71431 11.8232C7.00721 11.5303 7.00721 11.0554 6.71431 10.7625L2.47167 6.5199L6.71431 2.27726C7.00721 1.98436 7.00721 1.50949 6.71431 1.2166C6.42142 0.923704 5.94655 0.923704 5.65365 1.2166L0.880683 5.98957ZM2.34961 5.7699L1.41101 5.7699L1.41101 7.2699L2.34961 7.2699L2.34961 5.7699Z" fill="white"/></svg>
				.intro__arrow.btn.arrow.swiper-button-next.--next
					<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.11834 6.36364C6.41123 6.07075 6.41123 5.59588 6.11834 5.30298L1.34537 0.530012C1.05248 0.237119 0.577603 0.237119 0.28471 0.530012C-0.00818309 0.822905 -0.00818313 1.29778 0.28471 1.59067L4.52735 5.83331L0.284709 10.076C-0.00818392 10.3688 -0.00818397 10.8437 0.284709 11.1366C0.577602 11.4295 1.05248 11.4295 1.34537 11.1366L6.11834 6.36364ZM4.64941 6.58331L5.58801 6.58331L5.58801 5.08331L4.64941 5.08331L4.64941 6.58331Z" fill="white"/></svg>
			.intro__inner.swiper
				.intro__list.swiper-wrapper
					.intro__item.intr1.swiper-slide
						.intr1__content
							.intr1__title.h1 Почему именно мы?
							.intr1__text.t1
								ul
									li Работаем везде по России и со многими!
									li Самые яркие и красочные моменты - наша работа.
									li Освещаем Ваше мероприятие в полном <br>объеме.
									li Предоставляем фото и видео отчет <br>о событии.
									li Память об этих днях практически у каждого <br>на сувенирах с Вашей символикой.
								p Храним историю и помагаем достигать результата. Вы станете успешнее с нами, не потратив ни рубля!
							a.intr1__btn-more.btn.--md.--bg-orange(href="") Подробнее
						.intr1__img-wrap
							.intr1__img
								img(src="uploads/intro/intr1.png" alt="")
					.intro__item.intr2.swiper-slide
						.intr2__content
							.intr2__sec.--bg-yellow
								.intr2__title.h2 Зарабатывай вместе с нами. Будь в нашей команде!
							.intr2__sec.--bg-gray
								.intr2__text.t2
									p Наш сайт - это платформа для самореализации фотографов и видеооператоров. 
								a.intr2__btn.btn.--md.--bg-yellow(href="") Резюме
						.intr2__img-wrap.img
							.intr2__img
								img(src="uploads/intro/intr2.jpg" alt="")
					.intro__item.intr3.swiper-slide
						.intr3__content
							.intr3__title.h2 Мы работаем для ВАС БЕСПЛАТНО!
							.intr3__text.t2
								p Реклама ваших мероприятий - наш заработок! Фото и видеоотчет в подарок!
							a.intr3__btn.btn.--md.--bg-red(href="") Стать партнером
						.intr3__img-wrap
							.intr3__img
								img(src="uploads/intro/intr3.png" alt="")
		.intro__dots.swiper-pagination.dots