extends ../../templates/default
block vars
	-
		title = "Командные фото 02.10.2021"
		breadcrumbs = [
			['Фотосток', 'fotoskok.html'],
			['Футбол', 'fotoskok-section.html'],
			['Турнир по футболу "Baltic Cup 2021" среди команд 2013 г.р. (U8). Арена ЦФП "Восхождение" 02.10.2021', 'event-photos.html'],
			['Командные фото']
		]
block content
	include ../../../blocks/intro/intro
	include ../../../blocks/sports/sports
	.page
		.case
			+breadcrumbs
			.page__wrap.row
				.page__aside
					include ../../../blocks/navus/navus
				.page__section
					.page__head
						.page__icon.--gray.--no-border
							img(src="uploads/sports/sport-football.png" alt="")
						.page__title.h3= title
					.page__body
						.photos
							.photos__title Оцените работу нашего фотографа
							.photos__list.row
								mixin photosItem()
									.photos__item
										.photos__img.img(data-src="uploads/ph-1.jpg" data-fancybox="" data-group="photos" data-caption="Описание фото")
											img(src="uploads/ph-1.jpg" alt="")
										+ctrls('photos__controls')
								+photosItem()
								+photosItem()
								+photosItem()
								+photosItem()
								+photosItem()
								+photosItem()
								+photosItem()
								+photosItem()
								+photosItem()
								+photosItem()
								+photosItem()
								+photosItem()
								+photosItem()
								+photosItem()
								+photosItem()