include ../../pug/vars

.navus
	.navus__list
		a.navus__item(href="")
			.navus__icon
				img(src="uploads/cart-white.svg" alt="")
			.navus__name Предзаказ
	
		a.navus__item(href="")
			.navus__icon
				img(src="uploads/cart-white.svg" alt="")
			.navus__name Каталог продукции
	
		a.navus__item(href="")
			.navus__icon
				img(src="uploads/press-white.svg" alt="")
			.navus__name Фото-видео пресс-центр
	
		a.navus__item(href="")
			.navus__icon
				img(src="uploads/group-white.svg" alt="")
			.navus__name Твой спорт, твоя федерация
	
		a.navus__item(href="")
			.navus__icon
				img(src="uploads/like-white.svg" alt="")
			.navus__name Отзывы
	
		a.navus__item(href="")
			.navus__icon
				img(src="uploads/percent-white.svg" alt="")
			.navus__name Акции
	
		a.navus__item(href="")
			.navus__icon
				img(src="uploads/calendar-white.svg" alt="")
			.navus__name Календарь турниров
	
		