extends ../../templates/default
block vars
	-
		title = "Твой спорт, твоя федерация"
		breadcrumbs = [
			['', '.html'],
			[title]
		]
block content
	include ../../../blocks/intro/intro
	include ../../../blocks/sports/sports
	.page
		.case
			// +breadcrumbs
			.page__wrap.row
				.page__aside
					include ../../../blocks/navus/navus
				.page__section
					.page__head
						.page__icon
							img(src="uploads/group-black.png" alt="")
						.page__title.h3= title
					.page__body
						.page__feds.feds
							.feds__list.row
								mixin fedsItem(name, text, logo)
									.feds__item
										.feds__org.row
											.feds__logo
												img(src="uploads/" + logo alt="")
											.feds__name= name
										.feds__data!= text
								+fedsItem('ФЕДЕРАЦИЯ КОБУДО', '<p>Адрес: 192076, г. Санкт-Петербург, проспект Рыбацкий, 2</p><p>Телефон: <a href="tel:+78129508270">+7 (812) 950-82-70</a></p><p>Сайт: <a href="http://kobudo-spb.ru" target="_blank">kobudo-spb.ru</a></p>', 'fed_kbdo.png')
								+fedsItem('САНКТ-ПЕТЕРБУРГСКАЯ ФЕДЕРАЦИЯ ПЛЯЖНОГО ФУТБОЛА', '<p>Адрес: 197374, г. Санкт-Петербург, проспект Приморский, 56 к2</p><p>Сайт: <a href="http://beachsoccer.ru" target="_blank">beachsoccer.ru</a></p>', 'fed_volley_send.png')
								+fedsItem('Федерация Фри Файт Каратэ', '<p>Адрес: 191002, г. Санкт-Петербург, Набережная реки Фонтанки, 50</p><p>Сайт: <a href="http://freefight-spb.narod.ru" target="_blank">freefight-spb.narod.ru</a></p>', 'free-fight-karate.png')
								+fedsItem('ФЕДЕРАЦИЯ КОБУДО', '<p>Адрес: 192076, г. Санкт-Петербург, проспект Рыбацкий, 2</p><p>Телефон: <a href="tel:+78129508270">+7 (812) 950-82-70</a></p><p>Сайт: <a href="http://kobudo-spb.ru" target="_blank">kobudo-spb.ru</a></p>', 'fed_kbdo.png')
								+fedsItem('САНКТ-ПЕТЕРБУРГСКАЯ ФЕДЕРАЦИЯ ПЛЯЖНОГО ФУТБОЛА', '<p>Адрес: 197374, г. Санкт-Петербург, проспект Приморский, 56 к2</p><p>Сайт: <a href="http://beachsoccer.ru" target="_blank">beachsoccer.ru</a></p>', 'fed_volley_send.png')
								+fedsItem('Федерация Фри Файт Каратэ', '<p>Адрес: 191002, г. Санкт-Петербург, Набережная реки Фонтанки, 50</p><p>Сайт: <a href="http://freefight-spb.narod.ru" target="_blank">freefight-spb.narod.ru</a></p>', 'free-fight-karate.png')
								+fedsItem('ФЕДЕРАЦИЯ КОБУДО', '<p>Адрес: 192076, г. Санкт-Петербург, проспект Рыбацкий, 2</p><p>Телефон: <a href="tel:+78129508270">+7 (812) 950-82-70</a></p><p>Сайт: <a href="http://kobudo-spb.ru" target="_blank">kobudo-spb.ru</a></p>', 'fed_kbdo.png')
								+fedsItem('САНКТ-ПЕТЕРБУРГСКАЯ ФЕДЕРАЦИЯ ПЛЯЖНОГО ФУТБОЛА', '<p>Адрес: 197374, г. Санкт-Петербург, проспект Приморский, 56 к2</p><p>Сайт: <a href="http://beachsoccer.ru" target="_blank">beachsoccer.ru</a></p>', 'fed_volley_send.png')
								+fedsItem('Федерация Фри Файт Каратэ', '<p>Адрес: 191002, г. Санкт-Петербург, Набережная реки Фонтанки, 50</p><p>Сайт: <a href="http://freefight-spb.narod.ru" target="_blank">freefight-spb.narod.ru</a></p>', 'free-fight-karate.png')
								+fedsItem('ФЕДЕРАЦИЯ КОБУДО', '<p>Адрес: 192076, г. Санкт-Петербург, проспект Рыбацкий, 2</p><p>Телефон: <a href="tel:+78129508270">+7 (812) 950-82-70</a></p><p>Сайт: <a href="http://kobudo-spb.ru" target="_blank">kobudo-spb.ru</a></p>', 'fed_kbdo.png')
								+fedsItem('САНКТ-ПЕТЕРБУРГСКАЯ ФЕДЕРАЦИЯ ПЛЯЖНОГО ФУТБОЛА', '<p>Адрес: 197374, г. Санкт-Петербург, проспект Приморский, 56 к2</p><p>Сайт: <a href="http://beachsoccer.ru" target="_blank">beachsoccer.ru</a></p>', 'fed_volley_send.png')
								+fedsItem('Федерация Фри Файт Каратэ', '<p>Адрес: 191002, г. Санкт-Петербург, Набережная реки Фонтанки, 50</p><p>Сайт: <a href="http://freefight-spb.narod.ru" target="_blank">freefight-spb.narod.ru</a></p>', 'free-fight-karate.png')
							.feds__btn-more.btn.--smm.--b-orange.--fz18 Показать еще