include ../../pug/vars

.sports
	.case
		.sports__wrap
			.sports__list.row
				a.sports__item(href="")
					img(src="uploads/sports/sport-1.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-2.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-3.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-4.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-5.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-6.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-7.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-8.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-9.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-10.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-11.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-12.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-13.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-14.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-15.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-16.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-17.png" alt="")