include ../../pug/vars

.sports
	.case
		.sports__wrap
			.sports__list.row
				a.sports__item(href="")
					img(src="uploads/sports/sport-dances.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-fencing.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-football.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-gandboll.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-florball.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-water-sports.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-skins.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-sand-volleyball.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-sport-family.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-tennis.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-hockey.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-badminton.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-footzal.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-gymnastics.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-basketball.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-single-combats.png" alt="")
				a.sports__item(href="")
					img(src="uploads/sports/sport-kid-creation.png" alt="")