extends ../../templates/default
block vars
	-
		title = "Фотосессия"
		breadcrumbs = [
			['Предзаказ', 'preorder.html'],
			[title]
		]
block content
	include ../../../blocks/intro/intro
	include ../../../blocks/sports/sports
	.page
		.case
			+breadcrumbs
			.page__wrap.row
				.page__aside
					include ../../../blocks/navus/navus
				.page__section
					.page__head
						.page__icon
							img(src="uploads/" alt="")
						.page__title.h3= title
					.page__body
						.page__product.product
							.product__text
								p Фотосессия индивидуальная - фотоальбом из десятка фотографий участника на мероприятии, соревновании или в отдельно взятом матче с уклоном на его сильные стороны.
							.product__wrap.row
								.product__img
									img(src="uploads/" alt="")
								.product__inner
									.product__settings
										+psetting
