extends ../../templates/default
block vars
	-
		title = "Брелок"
		breadcrumbs = [
			['Каталог продукции', 'catalog.html'],
			[title]
		]
block content
	include ../../../blocks/intro/intro
	include ../../../blocks/sports/sports
	.page
		.case
			+breadcrumbs
			.page__wrap.row
				.page__aside
					include ../../../blocks/navus/navus
				.page__section
					.page__head
						.page__icon
							img(src="uploads/cart-black.png" alt="")
						.page__title.h3= title
					.page__body
						.page__product.product
							.product__text
								p Брелок для спортсмена. Удобно подходит для определения принадлежности той или иной вещи, аксессуара.
							.product__wrap.row
								- imgs = ['https://www.a-online.ru/assets/images/products/113/brelok-krasnyij.jpg', 'https://www.a-online.ru/assets/images/products/113/brelok-prozrachnyij.jpg', 'https://www.a-online.ru/assets/images/products/113/brelok-sinij.jpg']
								+imgs(imgs)
								
								.product__inner
									.product__settings
										.product__setting.psetting
											.psetting__list
												.psetting__item
													.psetting__title Цена
													.psetting__wrap
														.psetting__field.field.--sm.--b-gray.--p15
															.field__wrap
																input.field__area(type="tel" name="" value="0" readonly="readonly")
													.psetting__desc рублей
												.psetting__item
													.psetting__title Количество
													.psetting__wrap
														.psetting__field.field.--sm.--b-gray.--p15.--num
															.field__wrap
																input.field__area(type="number" name="" value="1" min="1" max="999")
													.psetting__desc шт.
												.psetting__item
													.psetting__title Форма
													.psetting__wrap
														+psettingSelect(['Футболка (35х50 мм.)'])
													.psetting__desc
												.psetting__item
													.psetting__title Бумага
													.psetting__wrap
														+psettingSelect(['Матовая', 'Глянцевая'])
													.psetting__desc
												.psetting__item
													.psetting__title
													.psetting__wrap
														button.psetting__btn.btn.--md.--b-orange.btn-choise-photo.--fz18 Выбрать фотографии для товара
													.psetting__desc
												.psetting__item
													.psetting__title
													.psetting__wrap
														button.psetting__btn.btn.--md.--bg-orange.--fz18 Добавить в корзину
													.psetting__desc