extends ../../templates/default
block vars
  -
    title = 'Турнир по футболу "Baltic Cup 2021" среди команд 2013 г.р. (U8). Арена ЦФП "Восхождение" 02.10.2021'
    breadcrumbs = [
      ['Фотосток', 'fotoskok.html'],
      ['Футбол', 'fotoskok-section.html'],
      [title]
    ]
block content
  include ../../../blocks/intro/intro
  include ../../../blocks/sports/sports
  .page
    .case
      +breadcrumbs
      .page__wrap.row
        .page__aside
          include ../../../blocks/navus/navus
        .page__section
          .page__head
            .page__icon.--gray.--no-border
              img(src="uploads/sports/sport-football.png" alt="")
            .page__title.h3= title
          .page__body
            .shooting
              .shooting__img.img
                img(src="uploads/operator.png" alt="")
              .shooting__text
                p Съемку производил Иванов Сергей Иванович
                p Пожалуйста оцените его работу и оставьте свой комментарий
                p Комментарии могут оставлять только авторизированные пользователи
              a.shooting__btn-comment.btn.--md.--bg-orange.--fz24.btn-go-comment(href="javascript:;") Оставить комментарий
            .do
              .do__list.row
                .do__item
                  .do__icon
                    img(src="uploads/doc-ruble.svg" alt="")
                  .do__text Цены на скачивание и печать фото <br>можно посмотреть #[a(href="") здесь]

                .do__item
                  .do__icon
                    img(src="uploads/puzzles.png" alt="")
                  .do__text С помощью нашего #[a(href="") конструктора] вы можете заказать сувинирную продукцию с любым понравившимся изображением вашего ребенка

            .phs
              .phs__list.row
                a.phs__item(href="")
                  .phs__name #[span Командные фото]
                  .phs__img.img
                    img(src="uploads/ph-1.jpg" alt="")
                a.phs__item(href="")
                  .phs__name #[span Игры турнира]
                  .phs__img.img
                    img(src="uploads/ph-2.jpg" alt="")
                a.phs__item(href="")
                  .phs__name #[span Церимония награждения]
                  .phs__img.img
                    img(src="uploads/ph-3.jpg" alt="")

            +comments
