extends ../../templates/default
block vars
	-
		title = "Карта сайта"
		breadcrumbs = [
			['', '.html'],
			[title]
		]
block content
	include ../../../blocks/intro/intro
	.sitemap
		.case
			.sitemap__title.h3 Карта сайта
			.sitemap__list
				ul
					li
						a(target="_blank" href="index.html") Главная
					li
						a(target="_blank" href="fotoskok.html") Фотосток
					li
						a(target="_blank" href="fotoskok-sections.html") Фотосток - секции
					li
						a(target="_blank" href="fotoskok-section.html") Фотосток - секция
					li
						a(target="_blank" href="event-photo.html") Событие - фото
					li
						a(target="_blank" href="event-photo-comments.html") Событие - фото - комментарии
					li
						a(target="_blank" href="photos.html") Фотографии
					li
						a(target="_blank" href="videoteka.html") Видеотека
					li
						a(target="_blank" href="videoteka-section.html") Видеотека - секция
					li
						a(target="_blank" href="event-video.html") Событие - видео
					li
						a(target="_blank" href="preorder.html") Предзаказ
					li
						a(target="_blank" href="filming.html") Видеосъемка
					li
						a(target="_blank" href="photosession.html") Фотосессия
					li
						a(target="_blank" href="complect.html") Комплекты
					li
						a(target="_blank" href="souvenirs.html") Сувениры
					li
						a(target="_blank" href="master-class.html") Мастер-класс
					li
						a(target="_blank" href="partners.html") Партнеры
					li
						a(target="_blank" href="contacts.html") Контакты
					li
						a(target="_blank" href="press-center.html") Фото-видео пресс-центр
					li
						a(target="_blank" href="federation.html") Федерация
					li
						a(target="_blank" href="shares.html") Акции
					li
						a(target="_blank" href="reviews.html") Отзывы
					li
						a(target="_blank" href="catalog.html") Каталог
					li
						a(target="_blank" href="catalog-collage.html") Коллаж (печать)
					li
						a(target="_blank" href="catalog-photo-print.html") Фото (печать)
					li
						a(target="_blank" href="catalog-magnet.html") Магнит на холодильник
					li
						a(target="_blank" href="catalog-diplom.html") Диплом
					li
						a(target="_blank" href="catalog-calendar.html") Календарь на холодильник
					li
						a(target="_blank" href="catalog-clocks.html") Часы
					li
						a(target="_blank" href="catalog-keychain.html") Брелок
					li
						a(target="_blank" href="catalog-plate.html") Тарелка
					li
						a(target="_blank" href="catalog-sticker.html") Наклейка на автомобиль
					li
						a(target="_blank" href="catalog-photo.html") Фото цифровое
					li
						a(target="_blank" href="catalog-video.html") Видеозапись
					li
						a(target="_blank" href="order.html") Оформление заказа
					li
						a(target="_blank" href="cart.html") Корзина
					li
						a(target="_blank" href="pa.html") Личный кабинет
					li
						a(target="_blank" href="acc-edit.html") Личный кабинет - редактирование
					li
						a(target="_blank" href="search-photo.html") Результаты поиска - фото
					li
						a(target="_blank" href="search-events.html") Результаты поиска - события
					li
						a(target="_blank" href="calendar-list.html") Календарь турниров - список
					li
						a(target="_blank" href="calendar-month.html") Календарь турниров - месяц
					li
						a(target="_blank" href="calendar-year.html") Календарь турниров - год
					li
						a(target="_blank" href="operator-events.html") Личный кабинет - оператор - события
					li
						a(target="_blank" href="operator-photos-sealed.html") Личный кабинет - оператор - Проданные фото
					li
						a(target="_blank" href="operator-photos-liked.html") Личный кабинет - оператор - Оценка фото