extends ../../templates/default
block vars
	-
		title = "Магнит на холодильник"
		breadcrumbs = [
			['Каталог продукции', 'catalog.html'],
			[title]
		]
block content
	include ../../../blocks/intro/intro
	include ../../../blocks/sports/sports
	.page
		.case
			+breadcrumbs
			.page__wrap.row
				.page__aside
					include ../../../blocks/navus/navus
				.page__section
					.page__head
						.page__icon
							img(src="uploads/" alt="")
						.page__title.h3= title
					.page__body
						.page__product.product
							.product__text
								p Магнит на холодильник - сувенир из акрила или на виниле. Позволяет держать все значимые события в компактном виде и на видном месте.
							.product__wrap.row
								- img = '.jpg'
								+imgs(img)
								
								.product__inner
									.product__settings
										.product__setting.psetting
											.psetting__list
												.psetting__item
													.psetting__title Цена
													.psetting__wrap
														.psetting__field.field.--sm.--b-gray
															.field__wrap
																input.field__area(type="tel" name="" value="0" readonly="readonly")
													.psetting__desc рублей
												.psetting__item
													.psetting__title Количество
													.psetting__wrap
														.psetting__field.field.--sm.--b-gray.--indec
															.field__wrap
																input.field__area(type="tel" name="" value="1")
													.psetting__desc шт.
												.psetting__item
													.psetting__title Стиль
													.psetting__wrap
														+psettingSelect(['Стандарт', 'Художественный'])
													.psetting__desc
												.psetting__item
													.psetting__title Тип
													.psetting__wrap
														+psettingSelect(['Акриловый', 'Виниловый'])
													.psetting__desc
												.psetting__item
													.psetting__title Форма
													.psetting__wrap
														+psettingSelect(['Прямоугольный', 'Квадратный', 'Круглый'])
													.psetting__desc
												.psetting__item
													.psetting__title Размер
													.psetting__wrap
														+psettingSelect(['105x70', '50x50', '55x80', '70x70', '85x63', '90x140', '90x90', '100x100', '100x150', '140x200', '150x210', '210x297'])
													.psetting__desc мм.
												.psetting__item
													.psetting__title Бумага
													.psetting__wrap
														+psettingSelect(['Матовая', 'Глянцевая'])
													.psetting__desc
												.psetting__item
													.psetting__title Рамка
													.psetting__wrap
														+psettingSelect(['Простая', 'Золотая'])
													.psetting__desc
												.psetting__item
													.psetting__title Примечание
													.psetting__wrap
														.psetting__field.field.--sm.--b-gray
															.field__wrap
																textarea.field__area(name="" placeholder="Ваши пожелания к товару")
													.psetting__desc
												.psetting__item
													.psetting__title
													.psetting__wrap
														button.psetting__btn.btn.--md.--b-orange.btn-choise-photo Выбрать фотографии для товара
												.psetting__item
													.psetting__title
													.psetting__wrap
														button.psetting__btn.btn.--md.--bg-orange Добавить в корзину
													.psetting__desc